on boot
    # OTG (On-The-Go)
    chown system system /sys/class/power_supply/usb/otg_switch
    
    # Smart Charging
    chown system system /sys/class/power_supply/battery/mmi_charging_enable

    # LCM_CABC
    chown system system /sys/kernel/oppo_display/LCM_CABC

    # LCM_CABC off
    on property:persist.cabc_profile=0
    write /sys/kernel/oppo_display/LCM_CABC 0

    # LCM_CABC on
    on property:persist.cabc_profile=1
    write /sys/kernel/oppo_display/LCM_CABC 1

    # LCM_CABC balanced
    on property:persist.cabc_profile=2
    write /sys/kernel/oppo_display/LCM_CABC 2

    # LCM_CABC aggressive
    on property:persist.cabc_profile=3
    write /sys/kernel/oppo_display/LCM_CABC 3

    # Performance profiles
    on property:persist.perf_profile=0
    write /sys/kernel/oppo_display/LCM_CABC 0

    on property:persist.perf_profile=1
    write /sys/kernel/oppo_display/LCM_CABC 3

    on property:persist.perf_profile=2
    write /sys/kernel/oppo_display/LCM_CABC 0
